._*
.Spotlight-V100
.Trashes
.DS_Store

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

vendor
composer.phar
composer.lock
app/config/local.ini
cache
tags

*.sh
mysql-connector-java-5.1.29-bin.jar
mysql-connector-license.txt

.idea
development.log
data/*

.phpcomplete_extended
