FORMAT: 1A
HOST: http://www.google.com

# encoder
Encoder API is an internal encoding service for our cloud.xxx platform

# Group Jobs
Jobs related resources of the **Encoder API**

## Jobs Collection [/encoder/jobs]
### List all encoding jobs [GET]
+ Response 200 (application/json)

        [
            {
                "id": 4899489,
                "input": "s3://aws.amazon.com/bucket/my_video.mp4"
            }, 
            {
                "id": 4899494,
                "input": "s3://aws.amazon.com/bucket/other_video.mp4"
            }
        ]

### Create an encoding job [POST]
+ Request (application/json)

        {
         "input": "s3://aws.amazon.com/bucket/my_video.mp4",
         "output": [
           "s3://aws.amazon.com/other/done_video.mp4",
           "s3://aws.amazon.com/other/other_video.mp4"
         ],
         "thumbnails": {
           "first_frame": true,
           "amount": 15,
           "by_times": ["00:10:00", "00:15:00", "00:19:00"],
           "width": 70,
           "height": 100
         },
         
         "watermark": {
           "input": "s3://aws.amazon.com/bucket/watermarks/my_image.png",
           "top": 10,
           "right": 20,
           "opacity": 0.5
         }
        }

+ Response 201 (application/json)

    + Body

            { 
              "url": "s3://aws.amazon.com/bucket/my_video.mp4",
              "height": 720,
              "width": 640,
              "format": "H264",
              "frame_rate": "3000/1001",
              "video_codec": "yuv420p",
              "duration": 45054,
              "total_frames": 1899,
              "file_size": 83938,
              "video_bitrate": 37899,
              "channels": 2,
              "audio_codec": "aac",
              "audio_bitrate": 16000,
              "sample_rate": 64000
            }
         
## Job [/encoder/jobs/{id}]
### Retrieve an encoding job [GET]
+ Response 200 (application/json)

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }


    
### Update an existing job [PUT]
+ Request (application/json)

    + Body 
    
            {
                "watermark": {
                    "top": 20,
                    "left": 20,
                    "opacity": 0.6
                }
            }
    
+ Response 203

    + Body
       
            {
                "url": "s3://aws.amazon.com/bucket/my_video.mp4",
                "height": 720,
                "width": 640,
                "format": "H264",
                "frame_rate": "3000/1001",
                "video_codec": "yuv420p",
                "duration": 45054,
                "total_frames": 1899,
                "file_size": 83938,
                "video_bitrate": 37899,
                "channels": 2,
                "audio_codec": "aac"
                "audio_bitrate": 16000,
                "sample_rate": 64000
            }            
        
           
### Remove a Note [DELETE]
+ Response 204



