FORMAT: 1A
HOST: http://www.google.com

# Encoder
Encoder API is an internal encoding service for our cloud.xxx platform. This is used internally to validate,
transcode and push back videos to our cloud.xxx platform.

## Allowed HTTP Requests

    . GET
    . POST

## Typical server responses

    . 200 OK
    . 201 Created - Successful request and resource created.
    . 204 No Content - Successful request but no representation to return.
    . 400 Bad Request - Misunderstood request and or missing required parameters.
    . 401 Unauthorized - Authentication or authorization failure.
    . 403 Forbidden - Access denied.
    . 404 Not Found - Resource not found.
    . 405 Method Not Allowed - Unsupported method for request.


# Group Jobs
Jobs related resources of the **Encoder API**

## Job [/encoder/jobs/{id}]
A single encoding job resource.

An encoding job resource has the following attributes:

- id
- input
- outputs

The attribute *id* is generated by the encoding API. This is the only time that input is specified. From then on, ID is used for reference.

+ Parameters
    + id (integer) ... ID of the encoding job.

+ Model (application/json)

    JSON representation of an encoding job resource

    + Body

            {
                "id": 4899489,
                "input": "https://s3.amazonaws.com/cldsys/yp/v/i/53/MyNextVideo.mp4",
                "outputs": [
                    {
                        "url": "https://s3.amazonaws.com/cldsys/yp/v/o/78/MyNextVideo.mp4",
                        "thumbnails": {
                            "first_frame": true,
                            "count": 15,
                            "width": 70,
                            "height": 100
                        },
                        "watermark": {
                            "https://s3.amazonaws.com/cldsys/yp/w/1294/MyNextVideo.mp4",
                            "https://s3.amazonaws.com/cldsys/yp/w/1295/MyOtherVideo.mp4",
                            "top": 10,
                            "left": 20,
                            "opacity": 0.5
                        }
                    },
                    {
                        "url": "https://s3.amazonaws.com/cldsys/yp/v/79/MyOtherVideo.mp4",
                        "thumbnails": {
                            "time_codes": ["00:10:00", "00:15:00", "00:19:00"],
                            "width": 70,
                            "height": 100
                        },
                        "watermark": {
                            "https://s3.amazonaws.com/cldsys/yp/w/1294/MyNextVideo.mp4",
                            "https://s3.amazonaws.com/cldsys/yp/w/1295/MyOtherVideo.mp4",
                            "bottom": 10,
                            "right": 20,
                            "opacity": 0.7
                        }
                    }
                ]
            }

### Retrieve a single encoding job [GET]
+ Response 200

    [Job][]

## Jobs Collection [/encoder/jobs]
List of encoding jobs

The encoding jobs collection resource has the following attributes:

- jobs
- total

+ Model (application/json)

    JSON representation of an encoding jobs collection resource.

    + Body

        {
            "jobs": [
                {
                    "id": 4899489,
                    "input": "https://s3.amazonaws.com/cldsys/videos/53/raw/MyNextVideo.mp4",
                }, 
                {
                    "id": 4899494,
                    "input": "https://s3.amazonaws.com/cldsys/videos/53/raw/MyOtherVideo.mp4",
                }
            ],
            "total": 2
        }

### List all encoding jobs [GET]

+ Response 200

    [Jobs Collection][]

### Create an encoding job [POST]

+ Parameters
    + id (integer) ... ID of the encoding job.
    + input (required, string) ... The path to the input video.
    + outputs (required, array) ... The output information of one or more encoding jobs.


+ Request (application/json)

        {
            "id": 4899489,
            "outputs": [
                {
                    "https://s3.amazonaws.com/cldsys/yp/w/1294/MyNextVideo.mp4",
                    "thumbnails": {
                        "first_frame": true,
                        "count": 15,
                        "width": 70,
                        "height": 100
                    },
                    "watermark": {
                        "input": "s3://aws.amazon.com/bucket/watermarks/my_image.png",
                        "top": 10,
                        "left": 20,
                        "opacity": 0.5
                    },
                },
                {
                    "https://s3.amazonaws.com/cldsys/yp/w/1295/MyOtherVideo.mp4",
                    "thumbnails": {
                        "time_codes": ["00:10:00", "00:15:00", "00:19:00"],
                        "width": 70,
                        "height": 100
                    },
                    "watermark": {
                        "input": "s3://aws.amazon.com/bucket/watermarks/my_other_image.png",
                        "bottom": 10,
                        "right": 20,
                        "opacity": 0.8
                    },
                }
            ]
        }

+ Response 201 (application/json)

    [Job][]

## Status [/encoder/jobs/{id}/status]

+ Parameters
    + id (integer) ... ID of the encoding job.

### Represents the status of an encoding job [GET]
+ Response 200

    + Body
            {
                "id": 4899489,
                "status": "pending"
            }

+ Response 404 (application/json)

## Transcode [/encoder/jobs/{id}/transcode]

+ Parameters
    + id (integer) ... ID of the encoding job.

