<form action="/videos/upload" method="post" id="new" enctype="multipart/form-data">
    <dl>
        <dd>
            <label for="title">Video title</label>
        </dd>
        <dt>
            <input type="text" id="title" value="" name="title" />
        </dt>
        <dd>
            <label for="description">Description</label>
        </dd>
        <dt>
            <input type="text" id="description" value="" name="description" />
        </dt>
        <dd></dd>
        <dd>
            <label for="video"> Video </label>
        </dd>
        <dt>
            <input type="file" name="video" value="" />
        </dt>
        <dt>
            <input type="submit" name="submit" value="upload" />
        </dt>
    </dl>
</form>
