{% extends 'layout.html' %}

{% block title %}Helper page{% endblock %}

{% block content %}

<h2>Dev environment</h2>

<p>Initial setup <a href="/helper/setup">Setup test data</a> </p>

<p>Form: <a href='/video-upload-form'>Upload and trigger a video</a></p>

<p>Monitor: <a href='/admin/status'>/admin/status</a></p>


<h2>Example REST calls</h2>

<p>GET <a href='/videos/1'>/videos/1</a></p>

<p>GET <a href='/videos'>/videos</a> </p>

<p>POST <a href='/videos/1/process/testname.mp4'>/videos/1/process/testname.mp4</a></p>

{% endblock %}
