{% extends 'layout.html' %}

{% block content %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <form action="{{action}}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>New video details</legend>

            <dl>
            {% for k, v in fields %}
                <dt> <label for='{{k}}'> {{k|capitalize}} </label> </dt>
                <dd> <input type='text' name='{{k}}' value="{{v}}" /> </dd>
            {% endfor %}
            </dl>

            <dt></dt>
            <dd> <input type="file" name="video" value="" /> </dd>
            {% for tag in tags %}
            <input type='checkbox' name='tag[{{tag.label}}]' value='true'/>
                {{tag.label}}
            {% endfor %}

            <dt></dt>
            <dd> <input type="submit" name="submit" value="upload" /> </dd>
        </fieldset>
    </form>
</html>

<table>
    <h2>Video List</h2>
{% for video in videos %}
<tr>
    <td>{{ video.title }}</td>
    <td>{{ video.description }}</td>
    <td>
        <a href="/videos/{{video.id}}/edit">Edit</a>
</tr>
    
{% endfor %}
</table>

{% endblock %}
